{{outlet}}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">


  <h2>Welcome to Ember.js</h2>
  {{#each model as |message|}}

  <div class="row">
    <div class="col-md-1">
      <img src="{{message.pic}}" class='img-circle'><br>
    </div>
    <div class="col-md-11">
      <div class="row message-text">
        <strong>{{message.message}}</strong>
      </div>
      <div class="row info">
        <strong class='info'>{{message.username}}</strong>
      </div>
      <div class="row info">
        <strong class='info'>{{message.useragent}}</strong>
      </div>
      <div class="row">
        <p class='grey'>{{message.date}}</p>
      </div>
    </div>
  </div>

  {{/each}}
  </div>
  </div>
</div>
